
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}


.top-bar {
    background-color: #1f6fa8;
    padding: 12px 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.nav-links a:hover, .active {
    font-weight: bold;
    text-decoration: none;
}


.banner {
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}


.banner-text {
    position: relative;
    z-index: 1;
}


main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 25px;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
   
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-body {
    padding: 12px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    background: #1f6fa8;
    color: white;
    text-decoration: none;
    width:100%;
    text-align:center;
}


footer {
    background-color: #1f6fa8;
    color: white;
    padding: 12px;
    text-align: center;
    margin-top: 30px;
}
